/*

!.gitignore
!LICENSE
!makefile
!README.md

!.github/
.github/*
!.github/CONTRIBUTING.md
!.github/dependabot.yml

!.github/workflows/
.github/workflows/*
!.github/workflows/housekeeping.yml

!.github/ISSUE_TEMPLATE/
.github/ISSUE_TEMPLATE/*
!.github/ISSUE_TEMPLATE/data-extraction.yml
!.github/ISSUE_TEMPLATE/question.yml
!.github/ISSUE_TEMPLATE/split-request.yml
!.github/ISSUE_TEMPLATE/merge-request.yml
!.github/ISSUE_TEMPLATE/config.yml

!schemas/
schemas/*
!schemas/anime-offline-database.jsonl.schema.json
!schemas/anime-offline-database.schema.json
!schemas/anime-offline-database-minified.schema.json
!schemas/dead-entries.schema.json

!pics/
pics/*
!pics/no_pic.png
!pics/no_pic_thumbnail.png
