/*

!.gitignore
!README.md
!anime-offline-database.json
!anime-offline-database.schema.json
!anime-offline-database-minified.json
!anime-offline-database-minified.schema.json
!anime-offline-database.zip

!.github/
.github/*
!.github/CONTRIBUTING.md
!.github/dependabot.yml

!.github/workflows/
.github/workflows/*
!.github/workflows/json_lint.yml
!.github/workflows/close-pr.yml

!.github/ISSUE_TEMPLATE/
.github/ISSUE_TEMPLATE/*
!.github/ISSUE_TEMPLATE/data-extraction.yml
!.github/ISSUE_TEMPLATE/question.yml
!.github/ISSUE_TEMPLATE/split-request.yml
!.github/ISSUE_TEMPLATE/merge-request.yml
!.github/ISSUE_TEMPLATE/config.yml

!dead-entries/
dead-entries/*
!dead-entries/anidb.json
!dead-entries/anidb-minified.json
!dead-entries/anidb.zip
!dead-entries/anilist.json
!dead-entries/anilist-minified.json
!dead-entries/anilist.zip
!dead-entries/kitsu.json
!dead-entries/kitsu-minified.json
!dead-entries/kitsu.zip
!dead-entries/myanimelist.json
!dead-entries/myanimelist-minified.json
!dead-entries/myanimelist.zip
!dead-entries/dead-entries.schema.json

!pics/
pics/*
!pics/no_pic.png
!pics/no_pic_thumbnail.png
