/*

!.gitignore
!README.md
!anime-offline-database.json

!.github/
.github/*
!.github/CONTRIBUTING.md

!.github/workflows/
.github/workflows/*
!.github/workflows/json_lint.yml

!.github/ISSUE_TEMPLATE/
.github/ISSUE_TEMPLATE/*
!.github/ISSUE_TEMPLATE/problem-in-data-extraction.md
!.github/ISSUE_TEMPLATE/question.md
!.github/ISSUE_TEMPLATE/falsely-merged-entries.md

!dead-entries/
dead-entries/*
!dead-entries/anidb.json
!dead-entries/anilist.json
!dead-entries/kitsu.json
!dead-entries/myanimelist.json